#footer-box .container {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    padding: 25px 0;
}

#footer-box p {
    padding: 10px 0px;
}

#footer-box .container h4 {
    font-size: 20px;
}

.footer-about {
    flex-basis: 30%;
    margin-left: 30px;
}

.footer-hebergement {
    flex-basis: 30%;
    margin-left: 3%;
}

.footer-assistance {
    flex-basis: 30%;
    margin-left: 3%;
}

.footer-assistance a {
    color: #000000;
}

.footer-assistance a:hover {
    color:#0065FC;
}

@media screen and (max-width: 992px) {

    
}

@media screen and (max-width: 768px) {

    #footer-box .container {
        flex-direction: column;
        align-items: flex-start; 
        margin-top: 15%;
    }

    #footer-box p {
        height: auto;
        font-size: smaller;
    }

    #footer-box h4 {
        flex-basis: auto;
        height: auto;
        font-size: small;
        margin: 30px 0;
    }

    .footer-about {
        flex-basis: auto;
        margin-left: 20px;
    }

    .footer-hebergement {
        flex-basis: auto;
        margin-left: 20px;
    }

    .footer-assistance {
        flex-basis: auto;
        margin-left: 20px;
        margin-bottom: 6%;
    }
    
} 